:root {
  --board-height: 300px;
}


{
background-color: #3E4649
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
#content{
background-color: #ffffff;
margin-top: 70px;
margin-bottom: 30px;
}
footer {
      margin-top: auto; /* take available whitespace */
      margin-bottom: -10px;      /* remove bottom whitespace */
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%
}

.slider {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 20%;
	z-index: 999;
	background: #999999;
	transform: translateX(200%);
	transition: all 320ms ease;
}
.slider ul {
		margin-top: 34%;
		padding: 0;
}
.slider li {
	background: #999999;
    display: block;
    list-style: none;
    padding: 20px 25px;
    font-family: Arial;
    font-size: 20px;
    transition: all 320ms ease;
    cursor: pointer;
    color: #f0f0f0;
}
.slider li:hover {
    background: #33444C;
}

.showslide{
	transform: translateX(0%);
    min-width: 180px;
}

#wrapper {
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 1%;
	z-index: 1000;
	width: 50px;
	height: 40px;
}
#wrapper span {
		width: 80%;
		height: 10%;
		background: #000000;
		display: block;
		margin-bottom: 10px;
		transition: all 320ms ease;
}

.grill {
    color: #7f994c;
}
.grill:nth-child(1) {
    transform: rotate(45deg) translateY(13px) translateX(7px);
}

.grill:nth-child(2) {
    opacity: 0;
}

.grill:nth-child(3) {
    transform: rotate(-45deg) translateY(-13px) translateX(7px);
}

@media (pointer:coarse) {
    #content {
        margin-top: 20px;
    }
    #wrapper {
	right: 4%;
	width: 50px;
	height: 40px;
    }
    #wrapper span {
            width: 80px;
            height: 4px;
            margin-bottom: 20px;
    }
    .showslide,.showslide-horizontal{
        transform: translateX(0%);
        width: 100%;
    }
    .showslide li {
        font-size: 80px;
        padding: 80px 100px;
    }
    .showslide-horizontal li {
        font-size: 40px;
    }

    .slider ul {
        margin-top: 0%;
        padding: 0;
    }
    .grill:nth-child(1) {
        transform: rotate(45deg) translateY(23px) translateX(10px);
    }
    .grill:nth-child(3) {
        transform: rotate(-45deg) translateY(-23px) translateX(10px);
    }
}


.head  {
align:center;
padding: 10px 15px 9px 15px
width: auto;
border: none;
display: block;
outline: 0;
}

.header-item {
vertical-align: middle;
overflow: hidden;
text-decoration: none;
color: inherit;
background-color: inherit;
text-align: center;
cursor: pointer;
}

table.hy {
	text-align: center;
	align: center;
	background-color: #bbbbbb;
	overflow-x: scroll;

}
table.hy td{
    padding: 5px
}
table.hy th {
background-color: #eeeeee; padding: 5px
}
table.hy td {
background-color: #ffffff
}
/*table.hy tbody:nth-child(even) {
background-color: #fcecc6
}
table.hy tbody:nth-child(odd) {
background-color: #c6d2ea
}*/
.header-link {
  padding: 7px 3px;
}
.btn-results{
  font-family: Droid Sans Mono;
  background-color: white; /* Green */
  color: #555555;
  padding: 5px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.one-digit{
padding: 5px 0.5rem !important;
}
.arrow{
border: none !important;

}
.current-board {
  background-color: #ccffcc !important;
  text-decoration: underline !important;
}
.btn-nav{
  background-color: #ffffff;
  font-family: Droid Sans Mono;
  color: #c5ffff;
  height: 18px;
  border: solid 2px black;
  border-radius: 30%;
  color: #555555;
  padding: 5px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.round {
background-color: #ffffff;
}
.hidden{
display: none;
opacity: 0;
}
@media (min-width: 858px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 624px) {
    html {
        font-size: 19px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 18px;
    }
}
#content {
margin-top: 100px;
}
div,p,span {
	FONT-FAMILY: Arial;
}
h1 {
	FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: #000000; TEXT-ALIGN: center; align: center
}
h2 {
	FONT-SIZE: 16pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: #000000; TEXT-ALIGN: center; align: center
}
h3 {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial,sans-serif; FONT-WEIGHT: bold; COLOR: #0000a0; TEXT-ALIGN: center; align: center
}
h4 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial,sans-serif; FONT-WEIGHT: bold; TEXT-ALIGN: center; align: center
}
table.deal, table.deal td {
border: none;
font-family: Verdana;
font-size: 13px;
background-color:#ffffff
}

table.deal th{
font-family: Verdana;
font-size: 13px;
border: 1px solid #0C479D;
border-collapse: separate;
background:#ddffdd;
border-radius: 4px;
}

.brd{
border: 1px solid #0C479D;
border-collapse: collapse;
background-color:#ffffff;
height: var(--board-height);
min-width: calc(var(--board-height)-50px);
}
.hand {
  padding: 0%;
  display: flex;
  width: 100px;
}

.number {
  align-content: center;
  background-color:#ffffff
}
.number td {
    height: 0;
    background-color:#ffffff
    &: after, &: before {
        content: '';
        display: block;
        padding-bottom: calc(50% - 0.5em);
        }
}

.grid {
    height: 100%;

    width: 300px;
    table-layout: fixed;
    font-family: Verdana;
    font-size: 13px;
    padding: 0%;
    background-color:#ffffff
}

.spacer{
width: 50px;
}

.n {
  border-radius: 45% 45% 5% 5%;
text-align: center
}

.w {
  border-radius: 45% 5% 5% 45%;
  padding-left: 5px;

}

.e {
  border-radius: 5% 45% 45% 5%;
  padding-right: 5px;
}

.s {
  border-radius: 5% 5% 45% 45%;
text-align: center
}

.square {
  height: 0;
    &: after, &: before {
        content: '';
        display: block;
        padding-bottom: calc(50% - 0.5em);
        }
}


.dealer {
  text-decoration: underline;
}

.vul {
  background-color: tomato;
}

.nonvul {
  background-color: palegreen;
}

.board-result{
  margin-top:25px;
  max-width: calc(vw*0.75);
}

.names {
  max-width: calc(vw * 3 / 4);
}
.hcp-table {
    display: inline-block;
    align-content: center;
    table-layout: fixed;
}

.hcp-table td {
width:17px;
}


.crossed {
     background:
         linear-gradient(to top left,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 0.8px),
             rgba(0,0,0,1) 50%,
             rgba(0,0,0,0) calc(50% + 0.8px),
             rgba(0,0,0,0) 100%),
         linear-gradient(to top right,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 0.8px),
             rgba(0,0,0,1) 50%,
             rgba(0,0,0,0) calc(50% + 0.8px),
             rgba(0,0,0,0) 100%);
}

.person {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; /* 5px rounded corners */
  margin: 10px;
  align: top;
}
.person .pic {
 margin-left:5%;
 width:90%;
      border-radius: 50%;


}
.person p.desc {
  text-align: center;
 }

 .person img.icon {
    width: 7%;
    vertical-align: text-top;
 }
.person p:has(.icon) {
margin-left:15%;
}
