{
background-color: #3E4649
}
#content{
background-color: #ffffff
}

.slider {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 20%;
	z-index: 999;
	background: #999999;
	transform: translateX(200%);
	transition: all 320ms ease;
}
.slider ul {
		margin-top: 30%;
		padding: 0;
}
.slider li {
	background: #999999;
    display: block;
    list-style: none;
    padding: 20px 25px;
    font-size: 20px;
    transition: all 320ms ease;
    cursor: pointer;
    color: #f0f0f0;
}
.slider li:hover {
    background: #33444C;
}

.showslide {
	transform: translateX(0%);
}

#wrapper {
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 25px;
	z-index: 1000;

}
#wrapper span {
		width: 40px;
		height: 2px;
		background: #000000;
		display: block;
		margin-bottom: 10px;
		transition: all 320ms ease;
}
.grill {
    color: #7f994c;
}
.grill:nth-child(1) {
    transform: rotate(45deg) translateY(10px) translateX(7px);
}

.grill:nth-child(2) {
    opacity: 0;
}

.grill:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px) translateX(7px);
}

.head  {
align:center;
padding: 10px 15px 9px 15px
width: auto;
border: none;
display: block;
outline: 0;
}

.header-item {
vertical-align: middle;
overflow: hidden;
text-decoration: none;
color: inherit;
background-color: inherit;
text-align: center;
cursor: pointer;
}

table.hy {
	text-align: center; margin: 4; align: center, padding: 5px; background-color: #bbbbbb;
}
table.hy td{
    padding: 5px
}
table.hy th {
background-color: #f7c6ca; padding: 5px
}
table.hy tbody:nth-child(even) {
background-color: #fcecc6
}
table.hy tbody:nth-child(odd) {
background-color: #c6d2ea
}
.round {
background-color: #ffffff;
}
.hidden{
opacity: 0
}
h1 {
	FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: #000000; TEXT-ALIGN: center; align: center
}
h2 {
	FONT-SIZE: 16pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: #0000a0; TEXT-ALIGN: center; align: center
}
h3 {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial,sans-serif; FONT-WEIGHT: bold; COLOR: #0000a0; TEXT-ALIGN: center; align: center
}
h4 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial,sans-serif; FONT-WEIGHT: bold; TEXT-ALIGN: center; align: center
}
table.deal, table.deal td {
border: none;
font-family: Verdana;
font-size: 13px;
background-color:#ffffff
}

table.deal th{
font-family: Verdana;
font-size: 13px;
border: 1px solid #0C479D;
border-collapse: separate;
background:#ddffdd;
border-radius: 4px;
}

.brd{
border: 1px solid #0C479D;
border-collapse: collapse;
background-color:#ffffff
}
.hand {
  padding: 0%;
  display: flex;
  width: 100px;
}

.number {
  align-content: center;
  background-color:#ffffff
}
.number td {
    height: 0;
    background-color:#ffffff
    &: after, &: before {
        content: '';
        display: block;
        padding-bottom: calc(50% - 0.5em);
        }
}

.grid {
    width: 100%;
    height: 100%;
  font-family: Verdana;
  font-size: 13px;
  padding: 0%;
  background-color:#ffffff
}

.n {
  border-radius: 45% 45% 5% 5%;
text-align: center
}

.w {
  border-radius: 45% 5% 5% 45%;
  padding-left: 5px;

}

.e {
  border-radius: 5% 45% 45% 5%;
  padding-right: 5px;
}

.s {
  border-radius: 5% 5% 45% 45%;
text-align: center
}

.square {
  height: 0;
    &: after, &: before {
        content: '';
        display: block;
        padding-bottom: calc(50% - 0.5em);
        }
}


.dealer {
  text-decoration: underline;
}

.vul {
  background-color: tomato;
}

.nonvul {
  background-color: palegreen;
}