{% extends "base.html" %}
{% block title %}Мартовское безумие-2024{% endblock %}
{% block content %}
<h1>Мартовское безумие–2024</h1>
<p align="center" width="50%">Это индивидуальный зачёт среди женщин по&nbsp;местам
  за&nbsp;все турниры
  с&nbsp;8&nbsp;марта по&nbsp;7&nbsp;апреля.<br/>Приз&nbsp;—&nbsp;бутылка вина.
</p>
<p align="center" width="50%">Формула подчёта очков: за&nbsp;первое место&nbsp;-&nbsp;10, за&nbsp;второе&nbsp;-&nbsp;9 и&nbsp;т.д.</p>
<h2>Current standings</h2>
<div align="center"><table><tbody>
  <tr><th>Name</th><th>Total</th></tr>
  {% for contestant in contestants %}
  <tr><td style="text-align:right;padding-right:10px;">{{contestant.name}}</td><td style="text-align: center">{{contestant.total}}</td></tr>
  {% endfor %}
</tbody></table></div>
{% endblock %}