{% extends "base.html" %}
{% block title %}Yerevan Bridge Club{% endblock %}
{% block content %}
<h1>Добро пожаловать на сайт ереванского бридж-клуба!</h1>
<div width="90%">Играем каждое воскресенье в помещении отеля Villa 29.
    Клуб работает с 12:00 до 21:00.
    Вечерний турнир начинается примерно в 16:30&NoBreak;–&NoBreak;17:00, до этого играем матчи.
</div>
<h2>Как нас найти</h2>
<div style="position:relative;overflow:hidden;">
    <iframe src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=44.508471%2C40.179420&mode=search&oid=211561338210&ol=biz&z=15.49" width="90%" height="300" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
</div>
<div style="position:relative;overflow:hidden;">
    <iframe src="https://yandex.ru/map-widget/v1/?l=stv%2Csta&ll=44.507827%2C40.179305&panorama%5Bdirection%5D=356.820463%2C-1.625321&panorama%5Bfull%5D=true&panorama%5Bpoint%5D=44.508417%2C40.179372&panorama%5Bspan%5D=115.118699%2C60.000000&source=wizbiz_new_map_single&z=16" width="90%" height="300" style="position:auto;"></iframe>
</div>
<div>После входа на территорию отеля нужно спуститься направо по ступенькам.</div>
<h2>Полезные ссылки</h2>
<ul><a href="https://t.me/+WGHpB1ewY5Y5OWYy" target="_blank">Чат сообщества в Telegram</a></ul>
<ul>Telegram-бот для ввода результатов турнира: <a href="https://t.me/bridgematebot?start=" target="_blank">bridgeakhper</a></ul>
<ul><a href="https://www.facebook.com/ArmenianBridge/" target="_blank">Группа в Facebook</a></ul>
{% endblock %}