{% extends "base.html" %}
{% block title %}Yerevan Bridge Club{% endblock %}
{% block content %}
<h1>{{ _("Pairs statistics") }} (MPs)</h1>
<div align="center">
    <table class="hy"><tbody>
    <tr><th>{{ _("Names") }}</th><th>{{ _("Played") }}</th><th>{{ _("Wins") }}</th><th>{{ _("Avg")}} %</th></tr>
    {% for p in pairs %}
    <tr>
        <td>{{p.names}}</td>
        <td>{{p.played}}</td>
        <td>{{p.wins}}</td>
        <td>{{p.avg}}</td>
    </tr>
    {% endfor %}
    </tbody></table>
</div>
{% endblock %}