{% extends "base.html" %}
{% block title %}{{name}}{% endblock %}
{% block content %}
<h1>{{ _("Masterpoints stats for")}} {{name}}</h1>
<div align="center">
    <table class="hy"><tbody>
    <tr><th>{{ _("Date")}}</th><th>{{ _("Rank")}}</th><th>{{ _("Masterpoints")}}</th>
        {% if ru_id > 0%}<th>{{ _("Masterpoints")}} RU</th>{% endif %}<th>{{ _("Partner")}}</th></tr>
    {% for r in results %}
    <tr>
        <td>
            {%if r.tournament_id %}
            <a href="/result/{{r.tournament_id}}/ranks">{{r.date}}</a></td>
            {% else %}
            {{r.date}}
            {% endif %}
        <td>{{r.rank or ''}}</td>
        <td>{{r.masterpoints}}</td>
        {% if ru_id > 0%}<td>{{r.masterpoints_ru}}</td>{% endif %}
        <td>{{r.partner or ''}}</td>
    </tr>
    {% endfor %}
    </tbody></table>
</div>
{% endblock %}