{% extends "base.html" %}
{% block title %}{{date}} {{tournament_title}} - {{_("Results")}}{% endblock %}
{% block content %}
<h1>{{tournament_title}} {{date}}</h1>
{% if scoring == "MPs" %}
<h2>{{tables}} {{_("Table")}} {{boards}} {{_("Board")}} Howell Movement. MAX = {{max}}</h2>
{% else %}
<h2>{{tables}} {{_("Table")}} {{boards}} {{_("Board")}} Howell Movement. Scoring = {{scoring}}</h2>
{% endif %}
<h3><a href="/result/{{tournament_id}}/board/1">Travellers</a></h3>
<div align="center">
<table style="FONT-SIZE: 11pt; FONT-FAMILY: Arial" class="hy">
  <tbody>
  <tr>
    <th align="center">{{_("Rank")}}</th>
    <th align="center">{{_("Pair")}}</th>
    <th align="left">{{_("Names")}}</th>
    <th align="center">{{_("Total")}}</th>
    {% if scoring == "MPs" %}
    <th align="center">%Score</th>
    {% elif scoring == "Swiss IMPs" %}
    <th align="center">IMPs</th>
    {% endif %}
    <th align="center">{{_("Masterpoints")}}</th>
    <th align="center">{{_("Masterpoints")}} (RU)</th>
  </tr>
  {% for pair in totals %}
  <tr>
    <td align="center">{{pair.rank}}</td>
    <td align="center"><a href="/result/{{tournament_id}}/scorecard/{{pair.number}}">{{pair.number}}</a></td>
    <td align="left">{{pair.names|safe}}</td>
    {% if scoring == "MPs" %}
    <td align="center">{{pair.mp}}</td>
    <td align="center">{{pair.percent}}</td>
    {% elif scoring == "Swiss IMPs" %}
    <td align="center">{{pair.vp}}</td>
    <td align="center">{{pair.mp}}</td>
    {% else %}
    <td align="center">{{pair.mp}}</td>
    {% endif %}
    <td align="center">{{pair.masterpoints}}</td>
    <td align="center">{{pair.masterpoints_ru}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table></div>
{% endblock %}