{% extends "base.html" %}
{% block title %}{{date}} {{tournament_title}} - Results{% endblock %}
{% block content %}
<h1>{{tournament_title}} {{date}}</h1>
{% if scoring == "MPs" %}
<h2>{{tables}} Table {{boards}} Board Howell Movement. MAX = {{max}}</h2>
{% else %}
<h2>{{tables}} Table {{boards}} Board Howell Movement. Scoring = {{scoring}}</h2>
{% endif %}
<h3><a href="/result/{{tournament_id}}/board/1">Travellers</a></h3>
<div align="center">
<table style="FONT-SIZE: 11pt; FONT-FAMILY: Arial" class="hy">
  <tbody>
  <tr>
    <th align="center">Rank</th>
    <th align="center">Pair</th>
    <th align="left">Names</th>
    <th align="center">Total</th>
    {% if scoring == "MPs" %}
    <th align="center">%Score</th>
    {% endif %}
    <th align="center">Master Points</th>
    <th align="center">Master Points (RU)</th>
  </tr>
  {% for pair in totals %}
  <tr>
    <td align="center">{{pair.rank}}</td>
    <td align="center"><a href="/result/{{tournament_id}}/scorecard/{{pair.number}}">{{pair.number}}</a></td>
    <td align="left">{{pair.names|safe}}</td>
    <td align="center">{{pair.mp}}</td>
    {% if scoring == "MPs" %}
    <td align="center">{{pair.percent}}</td>
    {% endif %}
    <td align="center">{{pair.masterpoints}}</td>
    <td align="center">{{pair.masterpoints_ru}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table></div>
{% endblock %}