{% extends "base.html" %}
{% block title %}{{ _("Rating")}}{% endblock %}
{% block content %}
<h1>{{ _("Rating list")}}</h1>
<div align="center">
    <table class="hy"><tbody>
    <tr><th>{{ _("Position")}}</th><th>{{ _("Name")}}</th><th>{{ _("Rating")}}</th><th>{{ _("Last year")}}</th><th>{{ _("Rank")}}</th><th>{{ _("Rank")}} RU</th></tr>
    {% for p in players %}
    <tr>
        <td>{{loop.index}}</td>
        <td><a href="/personal/{{p.id}}">{{p.name}}</a></td>
        <td>{{p.rating}}</td>
        <td>{{p.last_year}}</td>
        <td>{{p.rank}}</td>
        <td>{{p.rank_ru}}</td>
    </tr>
    {% endfor %}
    </tbody></table>
</div>
{% endblock %}