{% extends "base.html" %}
{% block title %}{{pair.name|replace("&nbsp;", " ")}} - Scorecards{% endblock %}
{% block content %}
<div align="center" style="margin-bottom: 10px">
    <nav>
        <a href="/result/{{tournament_id}}/ranks" class="header-link">Ranks</a>
    </nav>
</div>
<h2>PAIR {{pair.number}} {{pair.name|safe}}</h2>
{% if scoring_short == "MP" %}
<h2>{{scoring_short}} {{pair.mp_total}} MaxMPs {{max_mp}} Score {{pair.percent_total}}% Rank {{pair.rank}}</h2>
{% else %}
<h2>{{scoring_short}} {{pair.mp_total}} Rank {{pair.rank}}</h2>
{% endif %}
<div align="center">
<table style="FONT-SIZE: 10pt; FONT-FAMILY: Arial" class="hy">
  <tbody>
    <tr>
      <th align="center">Bd</th>
      <th align="center">Vul</th>
      <th align="center">Dir</th>
      <th align="center">Contract</th>
      <th align="center">By</th>
      <th align="center">Lead</th>
      <th align="center">Score</th>
      {% if scoring == "MPs" %}
      <th align="center">Percent</th>
      {% endif %}
      <th align="center">{{scoring_short}}s</th>
      <th align="center">{{scoring_short}}s per round</th>
      <th align="center">Opps</th></tr>
    {% for board in pair.boards %}
    <tr>
      <td align="center"><a href="/result/{{tournament_id}}/board/{{board.number}}">{{(board.number - 1) % 100 + 1}}</a></td>
      <td align="center">{{board.vul}}</td>
      <td align="center">{{board.dir}}</td>
      <td align="center" class="{{board.suspicious}}">{{board.contract|safe}}</td>
      <td align="center">{{board.declarer}}</td>
      <td align="center">{{board.lead|safe}}</td>
      <td align="center">{{board.score| replace("-", "−")}}</td>
      {% if scoring == "MPs" %}
      <td align="center">{{board.percent}}</td>
      {% endif %}
      <td align="center">{{board.mp}}</td>
      {% if board.boards_per_round > 1 %}
      <td rowspan="{{board.boards_per_round}}" class="round">{{board.mp_per_round}}</td>
      <td rowspan="{{board.boards_per_round}}" class="round" align="left">{{board.opp_names|safe}}</td>
      {% endif %}
    </tr>
    {% endfor %}
    {% if pair.penalties %}
    <tr>
      {% if scoring == "MPs" %}
      <th colspan="8">Penalties</th>
      {% else %}
      <th colspan="7">Penalties</th>
      {% endif %}
      <td>{{pair.penalties}}</td>
    </tr>
    {% endif %}
  </tbody></table>
</div>
{% endblock %}