{% extends "base.html" %}
{% block title %}Board {{board.b}} - Travellers{% endblock %}
{% block styles %}
<style>
table.deal, table.deal td {
border: none;
font-family: Verdana;
font-size: 13px;
background-color:#ffffff
}

table.deal th{
font-family: Verdana;
font-size: 13px;
border: 1px solid #0C479D;
border-collapse: separate;
background:#ddffdd;
border-radius: 4px;
}

.brd{
border: 1px solid #0C479D;
border-collapse: collapse;
background-color:#ffffff
}
.hand {
  padding: 0%;
  display: flex;
  width: 100px;
}

.number {
  align-content: center;
  background-color:#ffffff
}
.number td {
    height: 0;
    background-color:#ffffff
    &: after, &: before {
        content: '';
        display: block;
        padding-bottom: calc(50% - 0.5em);
        }
}

.grid {
    width: 100%;
    height: 100%;
  font-family: Verdana;
  font-size: 13px;
  padding: 0%;
  background-color:#ffffff
}

.n {
  border-radius: 45% 45% 5% 5%;
text-align: center
}

.w {
  border-radius: 45% 5% 5% 45%;
  padding-left: 5px;

}

.e {
  border-radius: 5% 45% 45% 5%;
  padding-right: 5px;
}

.s {
  border-radius: 5% 5% 45% 45%;
text-align: center
}

.square {
  height: 0;
    &: after, &: before {
        content: '';
        display: block;
        padding-bottom: calc(50% - 0.5em);
        }
}


.dealer {
  text-decoration: underline;
}

.vul {
  background-color: tomato;
}

.nonvul {
  background-color: palegreen;
}
</style>
{% endblock %}
</head>
{% block content %}
<div align="center"><nav>
    <a href="/result/{{tournament_id}}/board/{{board.b - 1}}" class="{{'hidden' * (board.b == 1)}}">Previous board</a>
    <a href="/result/{{tournament_id}}/ranks">Results</a>
    <a href="/result/{{tournament_id}}/board/{{board.b + 1}}" class="{{'hidden' * (board.b == maxboard)}}">Next board</a></nav>
</div>
<div align="center">
<table style="background-color:#ffffff">
    <tbody>
    <tr style="page-break-inside: avoid;">
        <td valign="top" width="33%" class="brd">
            <table class="grid">
                <tbody>
                    <tr>
                        <td><b>DLR: {{board.d}}</b></td>
                        <td>&nbsp;</td>
                        <td><b>VUL: {{board.v}}</b> </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <img src="https://bridgemoscow.ru/images/spade.gif"/>{{board.ns}}<br/>
                    <img src="https://bridgemoscow.ru/images/heart.gif"/>{{board.nh}}<br/>
                    <img src="https://bridgemoscow.ru/images/diamond.gif"/>{{board.nd}}<br/>
                    <img src="https://bridgemoscow.ru/images/club.gif"/>{{board.nc}}
                        </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr>
                        <td><img src="https://bridgemoscow.ru/images/spade.gif"/>{{board.ws}}<br/>
                    <img src="https://bridgemoscow.ru/images/heart.gif"/>{{board.wh}}<br/>
                    <img src="https://bridgemoscow.ru/images/diamond.gif"/>{{board.wd}}<br/>
                    <img src="https://bridgemoscow.ru/images/club.gif"/>{{board.wc}}
                        </td>
                        <td style="background-color:#ffffff">
                            <table class="number">
                        <tbody><tr>
                            <td>  </td>
                            <td class="n {{board.ns_vul}} {{board.n_dealer}}"><font size="+1">N</font></td>
                            <td>  </td></tr>
                        <tr>
                           {% if board.b < 10 %}
                            <td class="w {{board.ew_vul}} {{board.w_dealer}}"><font size="+1">W</font></td>
                            <td class="digits" style="padding-left: 2px"><font color="#0000bb" size="+1"><b>{{board.b}}</b></font></td>
                            <td class="e {{board.ew_vul}} {{board.e_dealer}}"><font size="+1">E</font></td></tr>
                            {% else %}
                            <td class="w {{board.ew_vul}} {{board.w_dealer}}" style="padding-left: 5px;"><font size="+1">W</font></td>
                            <td class="digits"><font color="#0000bb" size="+1"><b>{{board.b}}</b></font></td>
                            <td class="e {{board.ew_vul}} {{board.e_dealer}}" style="padding-right: 5px;"><font size="+1">E</font></td></tr>

                        {% endif %}
                       <tr><td></td>
                           <td class="s {{board.ns_vul}} {{board.s_dealer}}"><font size="+1">S</font></td><td></td></tr></tbody>
                    </table>
                        </td>
                        <td>
                            <img src="https://bridgemoscow.ru/images/spade.gif"/>{{board.es}}<br/>
		            <img src="https://bridgemoscow.ru/images/heart.gif"/>{{board.eh}}<br/>
		            <img src="https://bridgemoscow.ru/images/diamond.gif"/>{{board.ed}}<br/>
		            <img src="https://bridgemoscow.ru/images/club.gif"/>{{board.ec}}
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <img src="https://bridgemoscow.ru/images/spade.gif"/>{{board.ss}}<br/>
                    <img src="https://bridgemoscow.ru/images/heart.gif"/>{{board.sh}}<br/>
                    <img src="https://bridgemoscow.ru/images/diamond.gif"/>{{board.sd}}<br/>
                    <img src="https://bridgemoscow.ru/images/club.gif"/>{{board.sc}}
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td valign="bottom" width="60%" align="left">
            <table width="300" height="100" cellpadding="0" cellspacing="2" class="deal" border="0">
                <tbody>
                <tr>
                    <td width="8%">&nbsp;</td>
                    <th width="8%">NT</th>
                    <th width="8%"><img src="https://bridgemoscow.ru/images/spade.gif"></th>
                    <th width="8%"><img src="https://bridgemoscow.ru/images/heart.gif"></th>
                    <th width="8%"><img src="https://bridgemoscow.ru/images/diamond.gif"></th>
                    <th width="8%"><img src="https://bridgemoscow.ru/images/club.gif"></th>
                    <td rowspan="3" width="3%">&nbsp;</td>
                    <td width="8%">&nbsp;</td>
                    <th width="8%">NT</th>
                    <th width="8%"><img src="https://bridgemoscow.ru/images/spade.gif"></th>
                    <th width="8%"><img src="https://bridgemoscow.ru/images/heart.gif"></th>
                    <th width="8%"><img src="https://bridgemoscow.ru/images/diamond.gif"></th>
                    <th width="8%"><img src="https://bridgemoscow.ru/images/club.gif"></th>
                </tr>
                <tr>
                    <th>N</th>
                    <td align="center">{{board.n_par_n}}</td>
                    <td align="center">{{board.n_par_s}}</td>
                    <td align="center">{{board.n_par_h}}</td>
                    <td align="center">{{board.n_par_d}}</td>
                    <td align="center">{{board.n_par_c}}</td>
                    <th>E</th>
                    <td align="center">{{board.e_par_n}}</td>
                    <td align="center">{{board.e_par_s}}</td>
                    <td align="center">{{board.e_par_h}}</td>
                    <td align="center">{{board.e_par_d}}</td>
                    <td align="center">{{board.e_par_c}}</td>
                </tr>
                <tr>
                    <th>S</th>
                    <td align="center">{{board.s_par_n}}</td>
                    <td align="center">{{board.s_par_s}}</td>
                    <td align="center">{{board.s_par_h}}</td>
                    <td align="center">{{board.s_par_d}}</td>
                    <td align="center">{{board.s_par_c}}</td>
                    <th>W</th>
                    <td align="center">{{board.w_par_n}}</td>
                    <td align="center">{{board.w_par_s}}</td>
                    <td align="center">{{board.w_par_h}}</td>
                    <td align="center">{{board.w_par_d}}</td>
                    <td align="center">{{board.w_par_c}}</td>
                </tr>
                <tr>
                    <td colspan="13" align="center">
                        <b>minimax = <a class="minimax_url" href="{{board.minimax_url}}" target="_blank">{{board.minimax_contract|safe}}</a> {{board.minimax_outcome}}</b>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" width="75%" colspan="2">
            <table cellpadding="1" width="100%" class="hy">
                <tbody>
                <tr class="">
                    <th align="center">NS</th>
                    <th align="center">EW</th>
                    <th align="center">Contract</th>
                    <th align="center">By</th>
                    <th align="center">Lead</th>
                    <th align="center">NS+</th>
                    <th align="center">NS-</th>
                    <th align="center">{{scoring_short}}</th>
                    <th align="center">{{scoring_short}}</th>
                    <th align="center">NS</th>
                    <th align="center">EW</th>
                </tr>
                {% for table in board.tables %}
                {% if loop.index0 % 2 %}
                <tr class="odd">
                {% else %}
                <tr class="even">
                {% endif %}
                    <td align="center"><a href="/result/{{tour}}/scorecard/{{table.ns}}">{{table.ns}}</a></td>
                    <td align="center"><a href="/result/{{tour}}/scorecard/{{table.ew}}">{{table.ew}}</a></td>
                    <td align="center">
                        {% if table.nsplus != "" or table.nsminus != "" %}<a target="_blank" href="{{table.bbo_url}}" target="_blank">{{table.contract|safe}}</a>
                        {% else %}{{table.contract}}{% endif %}
                    </td>
                    <td align="center">{{table.declarer}}</td>
                    <td align="center">{{table.lead|safe| replace("T", "10")}}</td>
                    <td align="center">{{table.nsplus}}</td>
                    <td align="center">{{table.nsminus}}</td>
                    <td align="center">{{table.mp_ns}}</td>
                    <td align="center">{{table.mp_ew}}</td>
                    <td nowrap="" align="left">{{table.ns_name}}</td>
                    <td nowrap="" align="left">{{table.ew_name}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</div>
{% endblock %}